nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  float: right;
}
nav li a{
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #222;
  padding: 14px 7px;
}

.left-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-footer li{
  float: left;
}

.left-footer a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #666;
  font-family: arial, sans-serif;
  font-size: 13px;
  float: left;
  padding: 14px 15px;
}

.right-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right-footer li{
  float: right;
}

.right-footer a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #666;
  font-family: arial, sans-serif;
  font-size: 13px;
  float: right;
  padding: 14px 15px;
}

footer {
  display: block;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
}


button {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 16px;
  text-align: center;
  height: 36px;
  margin-left: 7px;
}

.buttons{
  display: block;
  width: 45%;
  margin: auto;
  padding-top: 30px;
  text-align: center;

}


input{
  display: block;
  width: 40%;
  height: 26px;
  margin: auto;
}

img {
  display: block;
  width: 20%;
  padding-top: 170px;
  padding-bottom: 20px;
  margin: auto;
  padding-left: 90px;
}
